<div class="texto">
	<div class ="imagenGrandeInicio">
		<%= image_tag "imagenInicioKickstarterGreenlight"%>
	</div>
	<div class ="imagenesInicio">
		<div class ="imagenIzqInicio">
			<a href="/desarrollo">
				<%= image_tag "enDesarrollo"%>
			</a>
		</div>
		<div class ="imagenDerInicio">
			<a href="/articles">
				<%= image_tag "blogInicio"%>
			</a>
		</div>
	</div>
	
</div> 

<%= render "partials/footer" %>



