<div class="texto contacta">
	<h1> Contacta con nosotros </h1>
	<p> ¿Quieres comentarnos algo de manera más directa? O simplemente te sientes más cómodo usando el correo electrónico? Pues adelante! En Deadlock Studios estaremos encantados de saber tu opinión e intentaremos contestarte con la máxima rapidez posible.</p>
	<p><br>Revistas, blogs, eventos organizadores y demás son bienvenidos.</br></p>
	<p><br><b>Correo:</b> <a href="https://accounts.google.com/ServiceLogin?service=mail&continue=https://mail.google.com/mail/&hl=es#identifier">deadlockstudios@gmail.com</a></br></p>
	<p><b>Twitter:</b> <a href= "https://twitter.com/DeadlockIndie">https://twitter.com/DeadlockIndie</a></p>
	<p><b>Web:</b><a href="/"> http://deadlockstudios.com </a></p>
	<br><p> <b>Deadlock Studios - <i> indie game factory </i></b> </p>
	<p> Calle Federico García, Someso-Matogrande</p>
	<p>15009 Coruña (Galicia) - España</p></br>
</div> 	
	<div class ="imageContacta">
		<%= image_tag "mapaContacta"%>
	</div>
			


<%= render "partials/footer" %>