<div class="texto">
	<h1> Conócenos un poco más </h1>
	<p> Deadlock Studios es una desarrolladora independiente de videojuegos que nace en 2015 con el fin de traer un aire nuevo al sector del entretenimiento digital español, pero a la vez consevar todas aquellas cosas que amamos y a veces anhelamos de tiempos pasados. Pretendemos realizar contenido de calidad para que los jugadores nacionales no tengan que gastar su dinero en productos extranjeros y conseguir así fomentar la industria de nuestra país, que tiene mucho potencial. Nuestra filosofía es muy clara: mezclar los elementos clásico y más llamativos de los videojuegos de nuestra infancia con los más vanguardistas para conseguir una mezcla de la que cualquier jugador no se podrá arrepentir.</p>
	<div class= "imagenNosotros">
		<%= image_tag "imagenEquipoNosotros" %>
	</div>
	<p> Actualmente nos encontramos desarrollando Insecminator, un arcade de acción y plataformas en 3D.</p>
	<p> Si quieres comentarnos cualquier cosa, no dudes en usar el foro, es un medio más cómodo e informal que el correo electrónico; no obstante, también puedes mandarnos un e-mail.</p>
</div> 

<%= render "partials/footer"%>