<div class="texto">
	<h1> Nuestras creaciones </h1>
	<p> Actualmente no disponemos de ningún videojuego publicado pero estamos trabajando en el desarrollo de "Insecminator" un arcade de acción y plataformas en 3D, <a href="/desarrollo">aqui</a> estarás al tanto de todo lo que le conflicte.
	</p>
	<p>
		Pronto podrás disfrutar de contenido muy diverso. Mantente a la espera ;)
	</p>
</div> 

<%= render "partials/footer" %>